<div class="container body-container bg-white mb-4" [attr.id]="'maps'">
  <div class="row">
    <div class="col-12">
      <div class="sticky-top header">
        <div class="bg-ow-gray py-3">
          <div class="d-flex align-items-center">
            <img class="ow-logo" src="assets/OW_League_Logo_Lockup_light_bkg.png"/>
            <h1 class="text-white">A Breakdown of the Overwatch League&trade;</h1>
          </div>
        </div>
        <ul [hidden]="!ms.finished_slideshow" ngbNav #nav="ngbNav" class="nav-pills bg-ow-light-blue p-2" [(activeId)]="active">
          <li ngbNavItem="records">
            <a class="text-white" [ngClass]="{'text-ow-dark-blue bg-white': active === '/records' || active === 'records'}" ngbNavLink [routerLink]="['/records']">Records</a>
          </li>
          <li ngbNavItem="tanks">
            <a class="text-white" [ngClass]="{'text-ow-dark-blue bg-white': active === '/tanks' || active === 'tanks'}" ngbNavLink [routerLink]="['/tanks']">Tanks</a>
          </li>
          <li ngbNavItem="support">
            <a class="text-white" [ngClass]="{'text-ow-dark-blue bg-white': active === '/support' || active === 'support'}" ngbNavLink [routerLink]="['/support']">Support</a>
          </li>
          <li ngbNavItem="damage">
            <a class="text-white" [ngClass]="{'text-ow-dark-blue bg-white': active === '/damage' || active === 'damage'}" ngbNavLink [routerLink]="['/damage']">Damage</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="pt-4 px-4">
          The <a href="https://overwatchleague.com/en-us/about" target="_blank" rel="noopener" noreferrer>Overwatch League</a> 
          is a competitive video game league featuring 20 city-based teams. The teams play 280 regular season matches in 
          Blizzard Entertainment's game 
          <a href="https://playoverwatch.com/en-us/" target="_blank" rel="noopener" noreferrer>Overwatch</a>, 
          a team-based strategic shooter with unique heroes and abilities. A team is comprised of 6 players, all 
          playing different heroes and roles.
          <hr/>
          <div class="pb-2" *ngIf="active === '/records' || active === 'records'">Over three seasons, the Overwatch League has collected statistics on teams, players, and roles. Let's begin by looking at team win-loss records.</div>
          <div class="pb-2" *ngIf="active === '/tanks' || active === 'tanks'">Tanks are an important role in a team. They can create space for damage players, change the tempo of the match, or protect the team with shields and barriers.</div>
          <div class="pb-2" *ngIf="active === '/support' || active === 'support'">Support heroes keep the team alive and assist in making offensive plays. Often times, they are protecting their own lives while trying to keep their team alive.</div>
          <div class="pb-2" *ngIf="active === '/damage' || active === 'damage'">Damage players, or DPS, have burst damage, require consistent aim, and can make key eliminations to give their team a player advantage on an objective.</div>
        </div>
        <div class="row">
          <div class="col-1 d-flex align-items-center">
            <i *ngIf="active !== '/records' && active !== '/' && active !== 'records' && active !== ''" class="material-icons" (click)="back(active)">keyboard_arrow_left</i>
          </div>
          <div class="col-10">
            <router-outlet *ngIf="ms.init_done" [ngbNavOutlet]="nav"></router-outlet>
          </div>
          <div class="col-1 d-flex align-items-center">
            <i *ngIf="active !== '/damage' && active !== 'damage'"class="material-icons" (click)="next(active)">keyboard_arrow_right</i>
          </div>
        </div>
      </div>
      <footer class="py-4 text-center">
        <span class="font-italic">
          <small>The Overwatch League and Overwatch are registered trademarks of Blizzard Entertainment, Inc. 
            in the United States and/or other countries.
          </small>
        </span>
      </footer>
    </div>
  </div>
</div>