@import '../scss/styles.scss';

.header {
	margin-left: -0.95rem;
	margin-right: -0.95rem;
}

.ow-logo {
	cursor: pointer;
	height: 80px;
	&:focus {
		outline: none;
	}
}

.material-icons {
	font-size: 32px;
	cursor: pointer;
}