<div>
	<h4 class="text-ow-gray text-center">
		{{ title }}
		{{ active_filters.team ? ' of ' + active_filters.team : ''}}
		{{ active_filters.season ? ' in Season ' + active_filters.season : '' }}
		{{ active_filters.season == undefined ? 'in All Seasons' : ''}}

	</h4>
	<!-- Filters -->
	<div class="py-2">
		<h5 class="font-weight-bold p-2">Season</h5>
		<div class="d-flex">
			<nav aria-label="season navigation">
				<ul class="pagination mb-0">
					<li [ngClass]="{'active': active_filters.season == 1}"class="page-item" (click)="update('season', 1)"><a class="page-link">1</a></li>
					<li [ngClass]="{'active': active_filters.season == 2}"class="page-item" (click)="update('season', 2)"><a class="page-link">2</a></li>
					<li [ngClass]="{'active': active_filters.season == 3}"class="page-item" (click)="update('season', 3)"><a class="page-link">3</a></li>
				</ul>
			</nav>
			<button [ngClass]="{'active': active_filters.season == undefined}"class="ml-4 btn btn-outline-ow-light-blue d-inline-block mr-2" (click)="update(null, null)">All Seasons</button>
		</div>
	</div>
	<!-- Graph -->
	<div #mapviz id="mapviz" class="px-4"></div>
	<div class="font-italic">**Note: Atlanta Reign, Chengdu Hunters, Guangzhou Charge, Hangzhou Spark, Paris Eternal, Toronto Defiant, Vancouver Titans, and Washington Justice were added in Season 2.</div>
</div>

