$body-bg: #43484c;

// Overwatch Colors
$ow-yellow: #f99e1a;
$ow-gray: #43484c;
$ow-dark-blue: #405275;
$ow-light-blue: #218ffe;

// Grays
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;

/* 
	*********************************************************************
		Team Colors
	*********************************************************************
*/

//Atlanta

//Boston
$bos-dark: #174b97;
$bos-light: #eedf00;

// Chengdu

// Dallas
$dal-dark: #0b233f;
$dal-light: #0071cd;
$dal-gray: #9ea2a3;

// Florida
$fla-dark: #af282f;
$fla-light: #fedc01;

// Guangzhou

// Hangzhou

// Houston
$hou-dark: #000;
$hou-light: #96ca4e;

// London
$lon-dark: #1b2b3a;
$lon-light: #59cae8;
$lon-accent: #ff8201;

// LA Glad
$la-glad-dark: #381360;
$la-glad-light: #fff;

// LA Valiant
$la-val-dark: #2a7230;
$la-val-light: #e5d661;

// NYXL
$ny-dark: #181c39;
$ny-light: #2b58e9;
$ny-accent: #f22431;

// Paris

// Philadelphia
$phi-dark: #000;
$phi-light: #f89d2a;

// SF
$sf-dark: #60636a;
$sf-light: #fc4c01;
$f-accent: #d7c152;

// Seoul
$seo-dark: #000;
$seo-light: #9ea2a3;

// Shanghai

// Toronto

// Vancouver

// Washington


